[submodule "testGitExtLibrary"]
	path = testGitExtLibrary
	url = ssh://git.eclipse.org/gitroot/emfcompare/acceptance-submodules/testGitExtLibrary.git
[submodule "testGitExtLibraryID"]
	path = testGitExtLibraryID
	url = ssh://git.eclipse.org:29418/emfcompare/acceptance-submodules/testGitExtLibraryID.git
[submodule "testGitUML"]
	path = testGitUML
	url = ssh://git.eclipse.org:29418/emfcompare/acceptance-submodules/testGitUML.git
[submodule "testGitUMLDesigner"]
	path = testGitUMLDesigner
	url = ssh://git.eclipse.org:29418/emfcompare/acceptance-submodules/testGitUMLDesigner.git
